#!/bin/bash

set -eufo pipefail

brew tap --repair
brew update

{{ $taps := list
     "derailed/k9s"
     "artginzburg/tap"
     "go-task/tap"
     "pulumi/tap"
     "replicatedhq/replicated"
     "stripe/stripe-cli"
     "homebrew/cask-fonts"
     "dracula/install"
     "epk/epk"
-}}

{{ $brews := list
     "chezmoi"
     "git"
     "git-lfs"
     "artginzburg/tap/sudo-touchid"
     "bat"
     "curl"
     "exa"
     "fd"
     "fzf"
     "zplug"
     "zsh-autosuggestions"
     "zsh-completions"
     "zsh-git-prompt"
     "zsh-history-substring-search"
     "zsh-syntax-highlighting"
     "starship"
     "k9s"
     "go-task/tap/go-task"
     "pulumi"
     "pulumi/tap/crd2pulumi"
     "pulumi/tap/kube2pulumi"
     "replicatedhq/replicated/cli"
     "yq"
     "mas"
     "jq"
     "vim"
     "wget"
     "procs"
     "htop"
     "tree"
     "nvim"
     "pygments"
     "delta"
     "pandoc"
     "gitmoji"
     "node@18"
     "lesspipe"
     "pkg-config"
     "cairo"
     "pango"
     "libpng"
     "jpeg"
     "giflib"
     "librsvg"
     "pixman"
     "grc"
     "kubernetes-cli"
     "kubectx"
     "crane"
     "git-extras"
     "git-filter-repo"
     "minikube"
     "mongosh"
     "go"
     "rust"
     "python"
     "gh"
     "docker"
     "docker-compose"
     "docker-buildx"
     "docker-credential-helper"
     "colima"
     "azure-cli"
     "awscli"
     "helm"
     "dive"
     "nvm"
     "tmux"
     "tmux-xpanes"
     "thefuck"
     "krew"
     "coreutils"
     "ed"
     "findutils"
     "gawk"
     "gnu-sed"
     "gnu-tar"
     "grep"
     "make"
     "wget"
     "git"
     "gpg"
     "skopeo"
     "k3d"
     "tilt"
-}}

{{ $casks := list
     "spotify"
     "visual-studio-code"
     "1password"
     "1password-cli"
     "mimestream"
     "raycast"
     "discord"
     "adguard"
     "cleanshot"
     "font-fira-code-nerd-font"
     "font-poppins"
     "google-cloud-sdk"
     "hazel"
     "imageoptim"
     "istat-menus"
     "kaleidoscope"
     "ledger-live"
     "studio-3t"
     "slack"
     "tower"
     "bartender"
     "zoom"
     "cron"
     "google-cloud-sdk"
     "arc"
     "ibm-cloud-cli"
     "beekeeper-studio"
     "dracula-terminal"
     "font-sf-mono-nerd-font"
     "zed"
     "orbstack"
     "warp"
-}}


brew bundle --no-lock --file=/dev/stdin <<EOF

{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}

{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}

mas "Amphetamine", id: 937984704
mas "Coin Tick", id: 1141688067
mas "Infuse", id: 1136220934
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "OmniGraffle", id: 1142578753
mas "Reeder", id: 1529448980
mas "Twitter", id: 1482454543
mas "Pixelmator Pro", id: 1289583905
EOF

brew upgrade
curl https://kots.io/install | REPL_USE_SUDO=y REPL_INSTALL_PATH=/usr/local/bin bash

npm install -g @githubnext/github-copilot-cli

brew tap lencx/chatgpt https://github.com/lencx/ChatGPT.git
brew install --cask chatgpt --no-quarantine

curl -s -N 'https://warp-themes.com/d/v3zeiwJUEOQlD5p4rhq7' | bash
