#!/bin/bash

set -eufo pipefail

brew tap --repair
brew update
brew bundle --global
brew upgrade
brew cleanup


if ! grep -q "$(which fish)" /etc/shells; then
    sudo sh -c "echo $(which fish) >> /etc/shells"
fi
chsh -s $(which fish)

curl -fsSL https://bun.sh/install | bash

fnm install 22
fnm install 20
